<doc<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather API - Weather Information for you.</title>
</head>
<body>
    <header>
        <h1>Weather API - Weather Information for you.</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li> 
            </ul>
        <nav>
    </header>
    <main>
        <p>Erro: {{error}}</p>
    </main>
</body>
</html>
